/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-align:left;}
/* body */
body{margin:1.5em 0;line-height:1.5;background:white;font-family:"Helvetica",Arial,sans-serif;color:black;font-size:11px;}

/* general look and feel */
hr{background:#666;color:#666;width:100%;height:1px;margin:0 0 1.5em;border:none;}
p,ul{margin-bottom:1.5em;}
h2,h3,h4{margin-bottom:0.5em;text-transform:uppercase;}
li{list-style-type:none;}
h1{margin-bottom:10px;}
code {white-space:normal;font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
.inline li{display:inline; text-transform: uppercase;font-size: 0.9em;}

/* layout */
#container{width:1080px;margin:0 auto;}
#container:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#right{float:right;width:490px;margin-right:10px;}
#meta{float:right;width:252px;background:#EEE;padding:10px;}
#pwblock{width:128px;float:right;background:white;}
#pwblock p{margin:0;text-align: center;}
#pwblock table {padding: 2px;}
#suggester{clear:both;background:white;}
#updates {text-transform: uppercase;}
#linksbar ul{margin-top:10px;}
.othercomics li {display: inline;}
.othercomics {text-transform: uppercase; font-size: 0.8em;}
.othercomics li a:after {content:"… ";}
#copy {line-height:1.2;}
#pig {margin-bottom:0;}
#sidebar{float:left;width:200px;}
#main{float:left;width:550px;background:white;margin-left:10px;}
#sqldebug{clear:both;padding:20px;float:left;background:#eaeaea;margin-top:40px;}

a{text-decoration:none;color:#232156;font-style:italic;}
a[href^="http://"]{color:#4a4a4a;}
a:hover{color:white;background:#4a4a4a;}

/* sitenav is distinct from other links */
#sitenav{width:114px;float:left;font-weight:bold;letter-spacing: 0.1em;line-height:1.5;}
#sitenav li{background:white;margin-bottom:2px;text-transform:uppercase;}
#sitenav a, #sitenav .currently {padding-top:2px; padding-left:8px; display:block;}
#sitenav a{font-style:normal;color:#232156;}
#sitenav a:hover{background:#232156;color:white;}
#sitenav .currently{background:#7868b6;color:white;}

/* jquery tabs ui */
#main .ui-state-active a, .currently {font-style: normal;color:red;}
#main .ui-state-active a:hover {background: white;}
.ui-tabs .ui-tabs-hide { display: none !important; }

/* specific elements */
/* container for storyline navigation on comic pages*/
p.storytitle{margin-bottom:0;}
/* the suggester javascript popup box*/
#contribform{width:232px;margin:10px;padding-top:10px;padding-bottom:10px;}
#suggester a{display:block;padding:2px 10px 2px 10px;}
#suggester input, #suggester textarea {width:228px;border:1px solid #4a4a4a ;padding:1px;margin:0;background: #ccc; color:black;}
#suggester #contribformsubmit {width: 230px; padding-left:10px;}
#suggester #contribformsubmit:hover {background:#4a4a4a;color:white;cursor:pointer;}
#suggester p {margin-bottom: 0;}
#suggester .help, #suggester .errorlist {font-style: italic; margin: 0;}
#suggester .errorlist {color: red;}
#suggester .thanks {padding-left:10px;}
/* searchbox on the search page*/
#searchtext {width: 300px;}
/* the hr on the storylines page, so far*/
#main hr {margin-top:1.5em;}